<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Them lop hoc</title>

    <link rel="stylesheet" th:href="@{/public/bootstrap/bootstrap.min.css}">
    <script th:src="@{/public/bootstrap/bootstrap.min.js}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <!--    <script th:src="@{/public/bootstrap/jquery.min.js}"></script>-->
    <script th:src="@{/public/bootstrap/popper.min.js}"></script>
</head>

<body>
<h1>Them moi lop hoc</h1>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <form action="" method="post">
                <div>
                    <label>Khoa</label><br>
                    <select name="department" id="dprt">
                        <option value="0">------------------</option><br>
                    </select>
                </div>
                <div>
                    <label>GVCN</label><br>
                    <select name="teacher" id="tchr">
                        <option value="0">------------------</option><br>
                    </select>
                </div>
                <div>
                    <label>Ten Lop</label><br>
                    <input type="text" name="className"/><br>
                </div>
                <p>
                    <br>
                    <button id="btn">Submit</button>
                </p>
            </form>

        </div>
    </div>
</div>
<a href="/qlsvApp/" style="color: #ff0000">Quay lai trang chu</a>
<script th:src="@{/public/js/formToJson.js}"></script>
<script th:src="@{/public/js/add_class.js}"></script>
</body>

</html>